<div class="w-screen h-screen bg-gray-100 p-14">
  <div class="container mx-auto h-full bg-white flex rounded-2xl shadow relative shadow-slate-100 overflow-hidden">
    <a routerLink="/" class="text-gray-500 p-4 absolute  left-2 hover:text-primary ease-linear  duration-300"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
    </svg></a>
    <div class="w-[40%]">
      <router-outlet></router-outlet>
    </div>
    <div
      class="bg-primary h-full flex items-center relative justify-center bg-center bg-cover flex-col flex-1 bg-[url('/assets/auth-bg.jpg')]"
    >
      <div class="absolute w-full h-full inset-0 z-10 bg-primary/40"></div>
      <div class="z-20 text-center">
        <h2 class="text-4xl font-semibold text-white">
          Recycle<span class="text-primary">Hub</span>
        </h2>
        <p class="text-white max-w-2xl my-2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur enim
          voluptatum ea fuga doloribus quae esse, incidunt, dolor, aspernatur
          aliquid non expedita quod quas placeat illo! Deserunt recusandae ea
          facilis!
        </p>
      </div>
    </div>
  </div>
</div>
